<h1>{{ "latest notes" }}</h1>

<!-- <ul> -->
  <!-- {% for post in site.posts %} -->
    <!-- <li> -->
      <!-- <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2> -->
      <!-- {{ post.excerpt }} -->
    <!-- </li> -->
  <!-- {% endfor %} -->
<!-- </ul> -->

<table>
        {% assign latest_posts = site.posts %}
        {% if site.latest_posts.limit %}
          {% assign latest_posts_limit = site.latest_posts.limit %}
        {% else %}
          {% assign latest_posts_limit = 10 %}
        {% endif %}

        {% for post in latest_posts limit: latest_posts_limit %}
          <tr>
            <th scope="row" style="width: 20%">{{ post.date | date: '%b %d, %Y' }}</th>
            <td>
                <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
            </td>
           
          </tr>
          <tr>
            <td>
            </td>
            <td> {{ post.excerpt }}</td>
          </tr>
        {% endfor %}
</table>